/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorite-toast {
    background-image: url('/svg/favIcon.svg') !important;
    background-color: red;
}

p.description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h1{
    text-align: center;
    margin: auto;
}

.options{
    display: flex;
    justify-content: center;
}